body {
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #1F2937;
    width: 100%
}

nav {
    background-color: #1F2937;
    display: flex;
    gap: 2em;
    align-items: center;
    padding: 10px 0;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

nav li {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none; 
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
    flex-shrink: 0;
}

li a {
    all: unset;
    transition: 400ms;
}

li:not(.logo) a:hover {
    font-size: 17px;
    cursor: pointer;    
}

li:not(.logo) a:active  {
    font-size: 18.5px;
    transition: 1s;
}

/* Need to fix Header Logo shirking with another 'li a' elements */

